In [314]:
import numpy as np
import pandas as pd

In [521]:
def KKN(X,Y,test_point,K=5):
    res=[]
    
    for i in range(X.shape[0]):
        x=X[i]
        dist=(np.sum((x-test_point)**2)**0.5)
        res.append((dist,Y[i]))
    
    res=sorted(res)
    res=np.array(res[:K])
    labels=np.unique(res[:,1],return_counts=True)
    ind=np.argmax(labels[1]) 
    return int(labels[0][ind])

In [522]:
dfx=pd.read_csv("Diabetes_XTrain.csv")
# del dfx["Pregnancies"]
# del dfx["Age"]
# del dfx["BloodPressure"]
dfx

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23
...,...,...,...,...,...,...,...,...
571,2,111,60,0,0,26.2,0.343,23
572,7,187,68,39,304,37.7,0.254,41
573,2,122,60,18,106,29.8,0.717,22
574,4,154,72,29,126,31.3,0.338,37
575,1,88,78,29,76,32.0,0.365,29

In [523]:
dfy=pd.read_csv("Diabetes_YTrain.csv")
dfy

     Outcome
0          1
1          0
2          1
3          1
4          0
..       ...
571        0
572        1
573        0
574        0
575        0

[576 rows x 1 columns]

In [524]:
X=dfx.values
Y=dfy.values

In [525]:
Y=Y.reshape((-1))
Y.shape

(576,)

In [526]:
X.shape

(576, 8)

In [527]:
from sklearn import model_selection as ms,preprocessing

In [528]:
#normalising data
# min_max_scaler = preprocessing.MinMaxScaler()
# X_scaled = min_max_scaler.fit_transform(X)
# Y_scaled=min_max_scaler.fit_transform(Y)
# Y_scaled=Y_scaled.reshape((-1,))

In [529]:
X_train,X_test,Y_train,Y_test=ms.train_test_split(X,Y,random_state=0)

In [530]:
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(432, 8)
(432,)
(144, 8)
(144,)

In [531]:
i=11

In [532]:
a=KKN(X_train,Y_train,X_test[i],13)
print(a,Y_test[i])

0 1

In [542]:
count=0
for i in range(X_test.shape[0]):
    x=X_test[i]
    a=KKN(X_train,Y_train,x,9)
    if a==Y_test[i]:
        count+=1
    else:
        print("i ",i,end=" ")
        
count

i  1 i  5 i  11 i  15 i  17 i  18 i  22 i  28 i  32 i  38 i  43 i  47 i  54 i  55 i  56 i  59 i  64 i  66 i  87 i  89 i  100 i  101 i  104 i  107 i  108 i  113 i  118 i  119 i  123 i  124 i  132

113

In [543]:
(count/144)*100

78.47222222222221

In [545]:
xtest=pd.read_csv("Diabetes_Xtest.csv")
# del xtest["Pregnancies"]
# del xtest["Age"]
# del xtest["BloodPressure"]
xtest

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,180,90,26,90,36.5,0.314,35
1,2,93,64,32,160,38.0,0.674,23
2,2,114,68,22,0,28.7,0.092,25
3,13,76,60,0,0,32.8,0.180,41
4,1,80,74,11,60,30.0,0.527,22
...,...,...,...,...,...,...,...,...
187,10,108,66,0,0,32.4,0.272,42
188,3,130,64,0,0,23.1,0.314,22
189,0,162,76,36,0,49.6,0.364,26
190,12,84,72,31,0,29.7,0.297,46
191,0,94,0,0,0,0.0,0.256,25

In [546]:
xtest=xtest.values

#xtest = min_max_scaler.fit_transform(xtest)

print(xtest.shape)
print(X.shape)
print(Y.shape)

(192, 8)
(576, 8)
(576,)

In [547]:
res=[]
for i in range(xtest.shape[0]):
    x=xtest[i]
    a=KKN(X,Y,x,K=17) #17
    res.append(a)
    
res=pd.DataFrame(res)

In [548]:
res.columns=["Outcome"]
res

     Outcome
0          1
1          0
2          0
3          0
4          0
..       ...
187        0
188        0
189        1
190        0
191        0

[192 rows x 1 columns]

In [549]:
res.to_csv("diabetes_result.csv",index=False)