In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [62]:
dfx=pd.read_csv("Diabetes_XTrain.csv")
dfx

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23
...,...,...,...,...,...,...,...,...
571,2,111,60,0,0,26.2,0.343,23
572,7,187,68,39,304,37.7,0.254,41
573,2,122,60,18,106,29.8,0.717,22
574,4,154,72,29,126,31.3,0.338,37
575,1,88,78,29,76,32.0,0.365,29

In [63]:
dfy=pd.read_csv("Diabetes_YTrain.csv")
dfy

     Outcome
0          1
1          0
2          1
3          1
4          0
..       ...
571        0
572        1
573        0
574        0
575        0

[576 rows x 1 columns]

In [78]:
X=dfx.values
Y=dfy.values

Y=Y.reshape((-1,))

# Feature Selection

In [79]:
from sklearn.ensemble import RandomForestClassifier

In [80]:
alg=RandomForestClassifier()
alg.fit(X,Y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [81]:
alg.feature_importances_

array([0.08223687, 0.25437879, 0.08672217, 0.07352491, 0.0716008 ,
       0.1775883 , 0.13229576, 0.1216524 ])

In [82]:
table=list(zip(dfx.columns,alg.feature_importances_))

In [83]:
best_features_df=pd.DataFrame(table,columns=['Feature','Score'])
best_features_df.sort_values(by='Score',inplace=True,ascending=False)
best_features_df

                    Feature     Score
1                   Glucose  0.254379
5                       BMI  0.177588
6  DiabetesPedigreeFunction  0.132296
7                       Age  0.121652
2             BloodPressure  0.086722
0               Pregnancies  0.082237
3             SkinThickness  0.073525
4                   Insulin  0.071601

In [102]:
four_features=best_features_df.head(6)['Feature'].values
four_features

array(['Glucose', 'BMI', 'DiabetesPedigreeFunction', 'Age',
       'BloodPressure', 'Pregnancies'], dtype=object)

# Check The Model Performance

In [103]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [104]:
rfc=RandomForestClassifier()

In [105]:
#Without Feature Selection

score=cross_val_score(rfc,X,Y,cv=10)
print(score)
print(score.mean()*100)

[0.75862069 0.70689655 0.77586207 0.77586207 0.81034483 0.68965517
 0.71929825 0.75438596 0.78947368 0.71929825]
74.99697519661221

In [106]:
#With Feature Selection

dfx_2=dfx[four_features]

In [ ]:
X2=dfx_2.values

score=cross_val_score(rfc,X2,Y,cv=10)
print(score)
print(score.mean()*100)

In [ ]:
def KKN(X,Y,test_point,K=5):
    res=[]
    
    for i in range(X.shape[0]):
        x=X[i]
        dist=(np.sum((x-test_point)**2)**0.5)
        res.append((dist,Y[i]))
    
    res=sorted(res)
    res=np.array(res[:K])
    labels=np.unique(res[:,1],return_counts=True)
    ind=np.argmax(labels[1]) 
    return int(labels[0][ind])

In [10]:
X_train,X_test,Y_train,Y_test=ms.train_test_split(X,Y,random_state=0)

In [11]:
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(432, 8)
(432,)
(144, 8)
(144,)

In [12]:
i=11

In [13]:
a=KKN(X_train,Y_train,X_test[i],13)
print(a,Y_test[i])

0 1

In [14]:
count=0
for i in range(X_test.shape[0]):
    x=X_test[i]
    a=KKN(X_train,Y_train,x,9)
    if a==Y_test[i]:
        count+=1
    else:
        print("i ",i,end=" ")
        
count

i  1 i  5 i  11 i  15 i  17 i  18 i  22 i  28 i  32 i  38 i  43 i  47 i  54 i  55 i  56 i  59 i  64 i  66 i  87 i  89 i  100 i  101 i  104 i  107 i  108 i  113 i  118 i  119 i  123 i  124 i  132

113

In [15]:
(count/144)*100

78.47222222222221

In [16]:
xtest=pd.read_csv("Diabetes_Xtest.csv")
# del xtest["Pregnancies"]
# del xtest["Age"]
# del xtest["BloodPressure"]
xtest

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,180,90,26,90,36.5,0.314,35
1,2,93,64,32,160,38.0,0.674,23
2,2,114,68,22,0,28.7,0.092,25
3,13,76,60,0,0,32.8,0.180,41
4,1,80,74,11,60,30.0,0.527,22
...,...,...,...,...,...,...,...,...
187,10,108,66,0,0,32.4,0.272,42
188,3,130,64,0,0,23.1,0.314,22
189,0,162,76,36,0,49.6,0.364,26
190,12,84,72,31,0,29.7,0.297,46
191,0,94,0,0,0,0.0,0.256,25

In [17]:
xtest=xtest.values

#xtest = min_max_scaler.fit_transform(xtest)

print(xtest.shape)
print(X.shape)
print(Y.shape)

(192, 8)
(576, 8)
(576,)

In [18]:
res=[]
for i in range(xtest.shape[0]):
    x=xtest[i]
    a=KKN(X,Y,x,K=17) #17
    res.append(a)
    
res=pd.DataFrame(res)

In [19]:
res.columns=["Outcome"]
res

     Outcome
0          1
1          0
2          0
3          0
4          0
..       ...
187        0
188        0
189        1
190        0
191        0

[192 rows x 1 columns]

In [20]:
res.to_csv("diabetes_result.csv",index=False)

# Using Gradient Descent

In [90]:
# X : Matrix of m*n
# x : vector : containing single example with n feautures

def hypo(X,theta):
    return np.dot(X,theta)


def predict(X,theta):
    yp=hypo(X,theta) 
    return yp


def score(Y,Yp):
    n=np.sum((Y-Yp)**2)
    d=np.sum((Y-Y.mean())**2)
    return (1-(n/d))*100
    
    

def error(X,y,theta): #cost
    yp=hypo(X,theta)
    e=np.sum((y-yp)**2)
    return e/X.shape[0]



def gradient(X,y,theta):
    M,N=X.shape
    grad=np.zeros((N,))
    
    yp=hypo(X,theta)
    grad=np.dot(X.T,yp-y)
    return grad/M


def gradient_descent(X,y,lr=0.1,iterations=300):
    M,N=X.shape
    theta=np.zeros((N,))
    error_list=[]
    
    for i in range(iterations):
        e=error(X,y,theta)
        error_list.append(e)
        
        grad=gradient(X,y,theta)
        
        theta=theta-lr*grad
            
    return theta,error_list

In [91]:
dfx=pd.read_csv("Diabetes_XTrain.csv")
dfx

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23
...,...,...,...,...,...,...,...,...
571,2,111,60,0,0,26.2,0.343,23
572,7,187,68,39,304,37.7,0.254,41
573,2,122,60,18,106,29.8,0.717,22
574,4,154,72,29,126,31.3,0.338,37
575,1,88,78,29,76,32.0,0.365,29

In [92]:
dfy=pd.read_csv("Diabetes_YTrain.csv")
dfy

     Outcome
0          1
1          0
2          1
3          1
4          0
..       ...
571        0
572        1
573        0
574        0
575        0

[576 rows x 1 columns]

In [93]:
X=dfx.values
Y=dfy.values.reshape((-1,))

Y.shape

(576,)

In [94]:
#Normalisation

mean=np.mean(X,axis=0)
std=np.std(X,axis=0)

X=(X-mean)/std
pd.DataFrame(X)

,0,1,2,3,4,5,6,7
0,0.974572,1.525281,0.945995,1.362427,2.244145,0.780366,0.907501,0.593634
1,1.275243,-0.316834,0.353934,-1.282400,-0.698144,-0.499183,-0.726400,2.110340
2,0.974572,0.858308,0.353934,-1.282400,-0.698144,0.928006,-0.666985,0.846418
3,-0.528785,-0.634440,-0.139449,-0.022959,0.126796,0.128288,1.145159,-0.417504
4,0.072558,0.286617,0.847318,-0.022959,1.776678,0.398962,-0.744224,-0.838811
...,...,...,...,...,...,...,...,...
571,-0.528785,-0.285073,-0.435480,-1.282400,-0.698144,-0.696037,-0.411503,-0.838811
572,0.974572,2.128732,-0.040773,1.173511,2.088323,0.718849,-0.675898,0.677895
573,-0.528785,0.064293,-0.435480,-0.148903,0.273453,-0.253116,0.699550,-0.923073
574,0.072558,1.080632,0.156581,0.543790,0.456773,-0.068566,-0.426356,0.340849
575,-0.829456,-1.015567,0.452611,0.543790,-0.001528,0.017558,-0.346147,-0.333242

In [95]:
#Preprocessing

ones=np.ones((X.shape[0],1))
X=np.hstack((ones,X))
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8
0,1.0,0.974572,1.525281,0.945995,1.362427,2.244145,0.780366,0.907501,0.593634
1,1.0,1.275243,-0.316834,0.353934,-1.282400,-0.698144,-0.499183,-0.726400,2.110340
2,1.0,0.974572,0.858308,0.353934,-1.282400,-0.698144,0.928006,-0.666985,0.846418
3,1.0,-0.528785,-0.634440,-0.139449,-0.022959,0.126796,0.128288,1.145159,-0.417504
4,1.0,0.072558,0.286617,0.847318,-0.022959,1.776678,0.398962,-0.744224,-0.838811
...,...,...,...,...,...,...,...,...,...
571,1.0,-0.528785,-0.285073,-0.435480,-1.282400,-0.698144,-0.696037,-0.411503,-0.838811
572,1.0,0.974572,2.128732,-0.040773,1.173511,2.088323,0.718849,-0.675898,0.677895
573,1.0,-0.528785,0.064293,-0.435480,-0.148903,0.273453,-0.253116,0.699550,-0.923073
574,1.0,0.072558,1.080632,0.156581,0.543790,0.456773,-0.068566,-0.426356,0.340849
575,1.0,-0.829456,-1.015567,0.452611,0.543790,-0.001528,0.017558,-0.346147,-0.333242

In [96]:
theta,error_list=gradient_descent(X,Y)
theta

array([ 0.34895833,  0.06142553,  0.19134215, -0.0375163 , -0.00477343,
       -0.01694961,  0.11261184,  0.04808161,  0.014074  ])

In [97]:
error_list

[0.3489583333333333,
 0.30637000172360146,
 0.274498696721423,
 0.25029282081568316,
 0.23166577903684363,
 0.2171672525787075,
 0.20577175120639163,
 0.19674147790329088,
 0.1895365134048888,
 0.18375531534735126,
 0.17909478088421066,
 0.17532304601393037,
 0.17226066354413339,
 0.16976735939812226,
 0.16773255373158769,
 0.16606846134161132,
 0.16470498785804924,
 0.16358589735150897,
 0.16266589545099747,
 0.1619083826638893,
 0.16128370604420983,
 0.1607677867805631,
 0.16034103501826888,
 0.15998748663058485,
 0.15969411314992407,
 0.15945026789420316,
 0.1592472399390873,
 0.15907789396360744,
 0.15893637878514685,
 0.15881789104299082,
 0.15871848329351673,
 0.15863490795952842,
 0.15856449028457753,
 0.15850502479160508,
 0.1584546908158774,
 0.15841198353626887,
 0.15837565761291866,
 0.1583446810887677,
 0.15831819765505095,
 0.15829549573803328,
 0.15827598315309477,
 0.15825916630612813,
 0.15824463311179515,
 0.15823203895204094,
 0.15822109512323188,
 0.15821155932187206,
 0.15820322780149054,
 0.15819592890056655,
 0.15818951769615458,
 0.15818387158253303,
 0.1581788866106217,
 0.15817447445363297,
 0.1581705598886868,
 0.1581670787039421,
 0.15816397595700138,
 0.1581612045235986,
 0.15815872388642696,
 0.15815649912284774,
 0.15815450005749965,
 0.15815270055180009,
 0.15815107790722738,
 0.1581496123632993,
 0.15814828667446718,
 0.15814708575286893,
 0.15814599636612123,
 0.15814500688117797,
 0.15814410704680368,
 0.15814328780846643,
 0.15814254115049386,
 0.1581418599611937,
 0.15814123791735119,
 0.15814066938510532,
 0.15814014933469447,
 0.1581396732669684,
 0.15813923714990027,
 0.158138837363616,
 0.15813847065268963,
 0.15813813408465174,
 0.15813782501382004,
 0.15813754104969893,
 0.15813728002930924,
 0.15813703999290596,
 0.15813681916262265,
 0.1581366159236493,
 0.15813642880760811,
 0.15813625647783983,
 0.15813609771635526,
 0.15813595141223943,
 0.1581358165513281,
 0.15813569220699872,
 0.15813557753194118,
 0.15813547175079068,
 0.1581353741535218,
 0.15813528408951472,
 0.15813520096221734,
 0.15813512422433582,
 0.15813505337349526,
 0.15813498794831876,
 0.15813492752488012,
 0.1581348717134904,
 0.1581348201557834,
 0.15813477252206934,
 0.15813472850892904,
 0.1581346878370251,
 0.15813465024910822,
 0.15813461550819932,
 0.15813458339593098,
 0.15813455371103288,
 0.1581345262679472,
 0.15813450089556275,
 0.1581344774360558,
 0.15813445574382884,
 0.1581344356845379,
 0.15813441713420046,
 0.15813439997837742,
 0.15813438411142167,
 0.1581343694357883,
 0.15813435586140087,
 0.15813434330506856,
 0.15813433168995067,
 0.15813432094506344,
 0.15813431100482678,
 0.15813430180864663,
 0.15813429330053036,
 0.15813428542873295,
 0.15813427814543035,
 0.15813427140641917,
 0.158134265170839,
 0.15813425940091733,
 0.15813425406173348,
 0.1581342491210014,
 0.15813424454886896,
 0.15813424031773288,
 0.158134236402068,
 0.15813423277826943,
 0.15813422942450728,
 0.1581342263205919,
 0.15813422344785,
 0.15813422078901,
 0.15813421832809604,
 0.15813421605033046,
 0.15813421394204305,
 0.15813421199058794,
 0.15813421018426627,
 0.15813420851225485,
 0.15813420696454053,
 0.15813420553185917,
 0.15813420420563917,
 0.1581342029779498,
 0.1581342018414529,
 0.15813420078935853,
 0.15813419981538368,
 0.15813419891371444,
 0.1581341980789708,
 0.15813419730617417,
 0.15813419659071723,
 0.15813419592833633,
 0.15813419531508557,
 0.15813419474731324,
 0.15813419422163966,
 0.15813419373493684,
 0.15813419328430994,
 0.15813419286707953,
 0.15813419248076566,
 0.15813419212307298,
 0.1581341917918769,
 0.1581341914852109,
 0.15813419120125483,
 0.15813419093832368,
 0.15813419069485787,
 0.1581341904694137,
 0.15813419026065487,
 0.15813419006734417,
 0.15813418988833644,
 0.15813418972257157,
 0.1581341895690682,
 0.15813418942691776,
 0.15813418929527914,
 0.15813418917337374,
 0.1581341890604807,
 0.15813418895593262,
 0.15813418885911165,
 0.1581341887694457,
 0.15813418868640525,
 0.15813418860949988,
 0.15813418853827563,
 0.15813418847231217,
 0.1581341884112203,
 0.15813418835463974,
 0.15813418830223677,
 0.1581341882537025,
 0.15813418820875091,
 0.1581341881671171,
 0.15813418812855584,
 0.15813418809284008,
 0.15813418805975948,
 0.15813418802911938,
 0.15813418800073947,
 0.15813418797445275,
 0.15813418795010462,
 0.1581341879275519,
 0.15813418790666212,
 0.15813418788731237,
 0.158134187869389,
 0.15813418785278674,
 0.15813418783740804,
 0.15813418782316263,
 0.15813418780996688,
 0.15813418779774338,
 0.1581341877864203,
 0.15813418777593136,
 0.1581341877662149,
 0.15813418775721408,
 0.15813418774887605,
 0.15813418774115195,
 0.1581341877339965,
 0.15813418772736787,
 0.15813418772122712,
 0.15813418771553836,
 0.15813418771026827,
 0.158134187705386,
 0.15813418770086293,
 0.15813418769667267,
 0.15813418769279064,
 0.1581341876891942,
 0.1581341876858623,
 0.15813418768277543,
 0.1581341876799156,
 0.15813418767726603,
 0.15813418767481127,
 0.158134187672537,
 0.15813418767042992,
 0.15813418766847773,
 0.158134187666669,
 0.15813418766499324,
 0.15813418766344062,
 0.15813418766200207,
 0.15813418766066922,
 0.15813418765943432,
 0.15813418765829013,
 0.15813418765722995,
 0.15813418765624768,
 0.15813418765533754,
 0.15813418765449427,
 0.15813418765371287,
 0.1581341876529889,
 0.15813418765231807,
 0.15813418765169648,
 0.15813418765112053,
 0.15813418765058682,
 0.15813418765009235,
 0.15813418764963413,
 0.15813418764920956,
 0.15813418764881615,
 0.15813418764845155,
 0.15813418764811374,
 0.15813418764780074,
 0.15813418764751067,
 0.15813418764724188,
 0.15813418764699283,
 0.15813418764676201,
 0.15813418764654816,
 0.15813418764634996,
 0.15813418764616632,
 0.15813418764599613,
 0.15813418764583842,
 0.15813418764569226,
 0.15813418764555684,
 0.15813418764543133,
 0.15813418764531503,
 0.15813418764520726,
 0.1581341876451074,
 0.15813418764501483,
 0.15813418764492904,
 0.15813418764484954,
 0.15813418764477585,
 0.15813418764470763,
 0.15813418764464438,
 0.1581341876445857,
 0.15813418764453135,
 0.15813418764448103,
 0.15813418764443435,
 0.1581341876443911,
 0.15813418764435103,
 0.1581341876443139,
 0.15813418764427944,
 0.15813418764424755,
 0.15813418764421797,
 0.15813418764419057,
 0.1581341876441652,
 0.15813418764414167,
 0.15813418764411982,
 0.15813418764409962,
 0.15813418764408085,
 0.1581341876440635,
 0.1581341876440474,
 0.15813418764403248,
 0.15813418764401865,
 0.15813418764400583,
 0.15813418764399398]

In [101]:
xtest=pd.read_csv("Diabetes_Xtest.csv")
xtest

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,180,90,26,90,36.5,0.314,35
1,2,93,64,32,160,38.0,0.674,23
2,2,114,68,22,0,28.7,0.092,25
3,13,76,60,0,0,32.8,0.180,41
4,1,80,74,11,60,30.0,0.527,22
...,...,...,...,...,...,...,...,...
187,10,108,66,0,0,32.4,0.272,42
188,3,130,64,0,0,23.1,0.314,22
189,0,162,76,36,0,49.6,0.364,26
190,12,84,72,31,0,29.7,0.297,46
191,0,94,0,0,0,0.0,0.256,25

In [102]:
#Normalisation

mean=np.mean(xtest,axis=0)
std=np.std(xtest,axis=0)

xtest=(xtest-mean)/std
pd.DataFrame(xtest)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,-1.180700,1.699357,1.236071,0.307043,-0.005323,0.580570,-0.412980,0.079340
1,-0.605333,-0.924366,-0.366231,0.679373,0.528583,0.792893,0.739987,-0.977305
2,-0.605333,-0.291054,-0.119723,0.058823,-0.691775,-0.523509,-1.123976,-0.801198
3,2.559181,-1.437047,-0.612740,-1.306387,-0.691775,0.056841,-0.842139,0.607663
4,-0.893016,-1.316416,0.250039,-0.623782,-0.234140,-0.339495,0.269192,-1.065359
...,...,...,...,...,...,...,...,...
187,1.696132,-0.472000,-0.242977,-1.306387,-0.691775,0.000221,-0.547492,0.695716
188,-0.317650,0.191470,-0.366231,-1.306387,-0.691775,-1.316181,-0.412980,-1.065359
189,-1.180700,1.156518,0.373293,0.927593,-0.691775,2.434857,-0.252845,-0.713144
190,2.271498,-1.195785,0.126785,0.617318,-0.691775,-0.381960,-0.467425,1.047932
191,-1.180700,-0.894208,-4.310362,-1.306387,-0.691775,-4.585953,-0.598735,-0.801198

In [103]:
#Preprocessing

ones=np.ones((xtest.shape[0],1))
xtest=np.hstack((ones,xtest))
pd.DataFrame(xtest)

,0,1,2,3,4,5,6,7,8
0,1.0,-1.180700,1.699357,1.236071,0.307043,-0.005323,0.580570,-0.412980,0.079340
1,1.0,-0.605333,-0.924366,-0.366231,0.679373,0.528583,0.792893,0.739987,-0.977305
2,1.0,-0.605333,-0.291054,-0.119723,0.058823,-0.691775,-0.523509,-1.123976,-0.801198
3,1.0,2.559181,-1.437047,-0.612740,-1.306387,-0.691775,0.056841,-0.842139,0.607663
4,1.0,-0.893016,-1.316416,0.250039,-0.623782,-0.234140,-0.339495,0.269192,-1.065359
...,...,...,...,...,...,...,...,...,...
187,1.0,1.696132,-0.472000,-0.242977,-1.306387,-0.691775,0.000221,-0.547492,0.695716
188,1.0,-0.317650,0.191470,-0.366231,-1.306387,-0.691775,-1.316181,-0.412980,-1.065359
189,1.0,-1.180700,1.156518,0.373293,0.927593,-0.691775,2.434857,-0.252845,-0.713144
190,1.0,2.271498,-1.195785,0.126785,0.617318,-0.691775,-0.381960,-0.467425,1.047932
191,1.0,-1.180700,-0.894208,-4.310362,-1.306387,-0.691775,-4.585953,-0.598735,-0.801198

In [128]:
Y_pred=predict(xtest,theta)
Y_pred=abs(Y_pred)
Y_pred=np.array(Y_pred)
Y_pred=np.round(Y_pred)
Y_pred=np.array(Y_pred,dtype=int)

In [129]:
res=pd.DataFrame(Y_pred)
res.columns=["Outcome"]
res

     Outcome
0          1
1          0
2          0
3          0
4          0
..       ...
187        0
188        0
189        1
190        0
191        0

[192 rows x 1 columns]

In [131]:
res.to_csv("diabetes_result.csv",index=False)

In [130]:
set(res["Outcome"])

{0, 1}

# With Feature Selection

In [1]:
dfx=pd.read_csv("Diabetes_XTrain.csv")
dfx

NameError: name 'pd' is not defined