In [9]:
import pandas as pd
import numpy as np

In [10]:
X=pd.read_csv("Cleaned_X.csv")
X

                                                       0
0      matur intellig highli charg melodrama unbelive...
1      http video googl com videoplay docid 211772166...
2      titl opera 1987 director dario argento cast cr...
3      think lot peopl wrote anoth one tom cruis weir...
4      stori two dog cat look way back home old wise ...
...                                                  ...
39995  similar ray lawrenc jindabyn last movi lantana...
39996  starter met director go ww2 enact period movi ...
39997  much dead bodi pain unfunni actual squirm seat...
39998  lifeforc truli bizarr adapt novel space vampir...
39999  saw movi screener best movi seen loooong time ...

[40000 rows x 1 columns]

In [11]:
X=X.values
X=X.reshape((-1,))
X.shape

(40000,)

In [14]:
Y=pd.read_csv("Y.csv")
Y=Y.values
Y=Y.reshape(-1,)
Y.shape

(40000,)

## Splitting

In [180]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

X_train.shape,Y_train.shape

((32000,), (32000,))

In [181]:
X_train[0],Y_train[0]

('ultra grim crime drama pou soi cheang director home sweet home tonal remind billi tang run kill although not polish nevertheless engag flaw bit mayhem cambodian loner pang edison chen arriv hong kong kill lawyer flee scene kill partner cop sam wai add insult injuri midst deal die father sam begin insan obsess manhunt pang result close dozen dead bodi relentless violenc must someth air late never seen mani human beat pulp late grim nasti stuff partial applaud downbeat vibe visual arrest sound design uniqu dramat everyth spiral downward everi charact find world scream pain subplot involv pang attach sexual abus girl add depth stori spawn surpris fourth act boast fine act grotesqu surgeri',
 1)

In [182]:
type(X_test)

numpy.ndarray

In [192]:
from sklearn.feature_extraction.text import CountVectorizer

cv=CountVectorizer(ngram_range=(1,2))

x_vec=cv.fit_transform(X_train)

In [193]:
xt_vec=cv.transform(X_test)
xt_vec

<8000x1909089 sparse matrix of type '<class 'numpy.int64'>'
	with 1319246 stored elements in Compressed Sparse Row format>

In [194]:
from sklearn.naive_bayes import MultinomialNB,BernoulliNB,GaussianNB

In [195]:
mnb=MultinomialNB()

In [196]:
mnb.fit(x_vec,Y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [197]:
mnb.score(xt_vec,Y_test)

0.87975

In [198]:
mnb.score(x_vec,Y_train)

0.995625

In [199]:
mnb.predict(x_vec)

array([1, 1, 1, ..., 0, 0, 0], dtype=int64)

In [200]:
mnb.predict(xt_vec)

array([0, 0, 0, ..., 0, 1, 1], dtype=int64)

## Testing on test data

In [201]:
# Cleaning X_test

X_test_val=pd.read_csv("X_Test_Clean.csv")
X_test_val

                                                      0
0     rememb old kung fu movi use watch friday satur...
1     movi anoth one list movi not bother saw 40 yea...
2     world thing like get dvd player home even get ...
3     queen damn one best vampir movi ever seen movi...
4     caprica episod s01e01 well done pilot realli e...
...                                                 ...
9995  watch piec ondemand descript kind outlandish f...
9996  nurs travel rural psychiatr clinic run doctor ...
9997  although small film kind got lost wake waterfr...
9998  first saw film earli 80 cabl uniqu statement s...
9999  recogn pictur diner cover dvd made realiz loca...

[10000 rows x 1 columns]

In [202]:
X_test_val=X_test_val.values.reshape(-1,)
type(X_test_val)

numpy.ndarray

In [213]:
# Methpd:

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

def getReviews(X,Y,X_test):
    cv=CountVectorizer(ngram_range=(2,5))
    x_vec=cv.fit_transform(X)
    xt_vec=cv.transform(X_test)
    mnb=MultinomialNB()
    mnb.fit(x_vec,Y)
    print(mnb.score(x_vec,Y))
    return mnb.predict(xt_vec)

In [214]:
Y_pred=getReviews(X,Y,X_test_val)

MemoryError:

In [ ]:
Y_pred

In [215]:
ind=[i for i in range(Y_pred.shape[0])]
res=list(zip(ind,Y_pred))

In [216]:
ans=pd.DataFrame(res,columns=['Id','label'])
ans["label"][ans["label"]==0]="pos"
ans["label"][ans["label"]==1]="neg"
ans

        Id label
0        0   pos
1        1   pos
2        2   pos
3        3   neg
4        4   neg
...    ...   ...
9995  9995   pos
9996  9996   neg
9997  9997   neg
9998  9998   neg
9999  9999   pos

[10000 rows x 2 columns]

In [217]:
ans.to_csv("Final_ans.csv",index=None)