In [314]:
import numpy as np
import pandas as pd

In [315]:
def KKN(X,Y,test_point,K=5):
    res=[]
    
    for i in range(X.shape[0]):
        x=X[i]
        dist=(np.sum((x-test_point)**2)**0.5)
        res.append((dist,Y[i]))
    
    res=sorted(res)
    res=np.array(res[:K])
    labels=np.unique(res[:,1],return_counts=True)
    ind=np.argmax(labels[1]) 
    return labels[0][ind]

In [469]:
dfx=pd.read_csv("Diabetes_XTrain.csv")
del dfx["Pregnancies"]
del dfx["Age"]
del dfx["BloodPressure"]
dfx

     Glucose  SkinThickness  Insulin   BMI  DiabetesPedigreeFunction
0        168             42      321  38.2                     0.787
1        110              0        0  27.8                     0.237
2        147              0        0  39.4                     0.257
3        100             20       90  32.9                     0.867
4        129             20      270  35.1                     0.231
..       ...            ...      ...   ...                       ...
571      111              0        0  26.2                     0.343
572      187             39      304  37.7                     0.254
573      122             18      106  29.8                     0.717
574      154             29      126  31.3                     0.338
575       88             29       76  32.0                     0.365

[576 rows x 5 columns]

In [470]:
dfy=pd.read_csv("Diabetes_YTrain.csv")
dfy

     Outcome
0          1
1          0
2          1
3          1
4          0
..       ...
571        0
572        1
573        0
574        0
575        0

[576 rows x 1 columns]

In [471]:
X=dfx.values
Y=dfy.values

In [472]:
# Y=Y.reshape((-1))
# Y.shape

In [473]:
X.shape

(576, 5)

In [474]:
from sklearn import model_selection as ms,preprocessing

In [475]:
#normalising data
min_max_scaler = preprocessing.MinMaxScaler()
X_scaled = min_max_scaler.fit_transform(X)
Y_scaled=min_max_scaler.fit_transform(Y)
Y_scaled=Y_scaled.reshape((-1,))

In [476]:
X_train,X_test,Y_train,Y_test=ms.train_test_split(X_scaled,Y_scaled,random_state=0)

In [477]:
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(432, 5)
(432,)
(144, 5)
(144,)

In [478]:
i=11

In [479]:
a=KKN(X_train,Y_train,X_test[i],13)
print(a,Y_test[i])

0.0 1.0

In [492]:
count=0
for i in range(X_test.shape[0]):
    x=X_test[i]
    a=KKN(X_train,Y_train,x,31)
    if a==Y_test[i]:
        count+=1
    else:
        print("i ",i,end=" ")
        
count

i  1 i  11 i  17 i  28 i  32 i  38 i  40 i  54 i  55 i  59 i  77 i  87 i  92 i  97 i  102 i  103 i  104 i  107 i  113 i  116 i  118 i  119 i  124 i  127 i  130 i  132

118

In [494]:
(count/144)*100

81.94444444444444

In [496]:
xtest=pd.read_csv("Diabetes_Xtest.csv")
del xtest["Pregnancies"]
del xtest["Age"]
del xtest["BloodPressure"]
xtest

     Glucose  SkinThickness  Insulin   BMI  DiabetesPedigreeFunction
0        180             26       90  36.5                     0.314
1         93             32      160  38.0                     0.674
2        114             22        0  28.7                     0.092
3         76              0        0  32.8                     0.180
4         80             11       60  30.0                     0.527
..       ...            ...      ...   ...                       ...
187      108              0        0  32.4                     0.272
188      130              0        0  23.1                     0.314
189      162             36        0  49.6                     0.364
190       84             31        0  29.7                     0.297
191       94              0        0   0.0                     0.256

[192 rows x 5 columns]

In [497]:
xtest=xtest.values

xtest = min_max_scaler.fit_transform(xtest)

print(xtest.shape)
print(X.shape)
print(Y.shape)

(192, 5)
(576, 5)
(576, 1)

In [502]:
res=[]
for i in range(xtest.shape[0]):
    x=xtest[i]
    a=KKN(X,Y,x,K=25) #17
    res.append(a)
    
res=pd.DataFrame(res)

In [503]:
res.columns=["Outcome"]
res

     Outcome
0          0
1          0
2          0
3          0
4          0
..       ...
187        0
188        0
189        0
190        0
191        0

[192 rows x 1 columns]

In [504]:
res.to_csv("diabetes_result.csv",index=False)